.list {
  width: 100%;
  margin-top: 10px;
  .list__title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
  }
  .list__wrapper {
    position: relative;
    .list__slider {
      width: 50px;
      height: 100%;
      background-color: rgb(31, 29, 29, 0.5);
      color: #fff;
      position: absolute;
      z-index: 99;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
    .none {
      display: none;
    }
    .list__container {
      margin-top: 10px;
      margin-left: 50px;
      display: flex;
      width: max-content;
      transform: translateX(0px);
      transition: all 1s ease;
    }
  }
}
